:root {
    --primary-color: #344966;
    --secondary-color: #9d8189; 
    --accent1-color: #61a0af;
    --accent2-color: #e5dcc5;
    --heading-font: "Oswald";
    --body-font: "Nunito";
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);    
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
}

.navigation, header {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


 .navigation {
    display: flex;
    gap: 20px; 
    justify-content: space-between;
    text-decoration: none; 
  }

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    position: absolute;
    top: 300px;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
    

}

.history-section {
    background-color: var(--accent2-color);
    text-align: center;
    padding: 20px;
}

.history-grid {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  margin-top: 20px
}

.history-image img {
  max-width: 100%;
  height: auto;
}

.history-text {
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
}

.adventure-awaits {
    text-align: center;
    padding: 20px;
    background-color: var(--accent2-color);

}
.adventure-img {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
}

.adventure-img figure {
    flex: 0 0 auto;
    width: 200px;
    margin: 0;
    text-align: center;
}

.adventure-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.adventure-awaits figcaption {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;

}

footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr ;
    background-color: var(--primary-color);
    align-items: center;
    padding: 20px;
}   

.footsocial {
    position: absolute;
    right: 550px;
}